<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 타입(data type)

* 숫자 타입
  * `int` : 정수 타입
  * `float` : 실수 타입

* 문자열 타입
  * `str` : 문자열 타입

* 논리 타입
  * `bool` : True / False

* 객체 타입

파이썬에서는 변수를 선언할 때 자료 타입을 명시하지 않음.

변수의 자료 타입은 코드가 실행될 때 결정됨.

In [3]:
pi = 3.14
print(pi)
type(pi) # print(type(pi))

3.14

float

## 명시적 타입 변환

* `int(args)` : argument로 전달된 변수를 정수 타입으로 변환해서 리턴.
* `float(args)` : argument로 전달된 변수를 실수 타입으로 변환해서 리턴.
* `str(args)` : argument를 문자열로 변환해서 리턴.

In [10]:
# Colab NoteBook 에서 콘솔 입력 :
n = input('정수를 입력하시오 >>>')
n = float(n)
print(n+pi)

정수를 입력하시오 >>>150
153.14

# 산술 연산자

`+, -, *, /, //, %, **`

* `/` : 소수점까지 계산
* `//` : 나눈 몫
* `%` : 나눈 나머지
* `**` : 거듭제곱.

In [21]:
print(3**2)
print(3//9)
print(3/9)
print(3%9)
print(10**-3)

9
0
0.3333333333333333
3
0.001

# 비교 연산자, 논리 연산자

* 비교 연산자 : `==, !=, >, >=, <, <=`
* 논리 연산자 : `and, or, not`

In [25]:
x = 100
(x > 50 and x < 150)

True

In [30]:
50 < x < 110

fos = '''자바 좋아
파이썬 좋아
HTML/CSS 싫어'''
print(fos)

자바 좋아
파이썬 좋아
HTML/CSS 싫어

In [44]:
A = ["사과","바나나","달걀"]

A[-3:-1:2]

['사과']