<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```
    
for 변수 in iterable_type:
  반복해서 실행할 코드 블록
```
* iterable_type(반복가능한 타입)
  * range, list, tuple, dict, set, str, ...

*  `range()` 함수 :
  * `range(stop)` : 0 <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start,stop)` : start<= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start, stop, step)` :
    * (step>0) start <= x < stop 범위의 step씩 증가하는 정수들을 차례로 반환.
    * (step<0) stop < x <= start 범위의 step씩 감소하는 정수들을 차례로 반환.

In [5]:
for x in range(0, 11,2): # 1, 2, 3, 4, 5
    print(x)

0
2
4
6
8
10

In [8]:
for x in range(10,-1,-2):
  print(x)

10
8
6
4
2
0

# 중첩 반복문

```
for x in iterable1 :

  for y in iterable2 :

    실행할 코드 블럭

```

In [16]:
# 구구단 2단부터 구구단 9단까지 출력

for x in range(2,10):
  print(x,"단!\n")
  for y in range(1,10):
    # print(f'{x} x {y} = {x*y}')
    print("{0}x{1}={2}".format(x,y,x*y))
  print("\n")

2 단!

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18


3 단!

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27


4 단!

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36


5 단!

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45


6 단!

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54


7 단!

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63


8 단!

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72


9 단!

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

문자열에서 사용 가능한 산술 연산자:

* 문자열 `+` 문자열 : 문자열 이어붙이기 (concatenate)
* 문자열 `*` 정수 : 문자열 반복해서 복사하기

# break와 continue

* `break` : iteration(반복) 을 종료. break가 포함된 가장 가까운 반복문을 빠져 나옴.
* `continue` : 반복문 내부의 실행을 멈추고, 그 다음 iteration을 계속해서 수행.

In [21]:
for x in range(5):
  if x==2:
    break
  print(x)

0
1

In [22]:
for x in range(5):
  if x==2:
    continue
  print(x)

0
1
3
4

In [23]:
for x in range(2,6):
  print(x,'단')
  for y in range(1,x+1):

    print(f'{x} x {y} = {x*y}')
  print()

2 단
2 x 1 = 2
2 x 2 = 4

3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

# while 반복문

```
[초기화 문장]
while 조건식:
  반복할 코드 블록
  [조건(변수)를 변경하는 문장]

```

In [52]:
# *로 이루어진 트리만들기

i = 0
k = 0
l = 0
floor = 30
while i<floor:
  print(" "*((floor-i)*2//2-1),"*"*(i*2-1))
  i = i+1 # python은 ++, -- 연산자는 없음.

                             *
                            ***
                           *****
                          *******
                         *********
                        ***********
                       *************
                      ***************
                     *****************
                    *******************
                   *********************
                  ***********************
                 *************************
                ***************************
               *****************************
              *******************************
             *********************************
            ***********************************
           *************************************
          ***************************************
         *****************************************
        *******************************************
       *********************************************
      ***********************************************
     *************************************************
    ***************************************************
   *****************************************************
  *******************************************************
 *********************************************************

In [55]:
# 1이상 10미만 홀수들을 출력하는 코드를 While문으로 작성
x = 1
answer = ""
while x<10:
  if x%2==1:
    answer += str(x) + " "
  x=x+1
print(answer)

1 3 5 7 9