<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소) : 리스트의 저장되는 각각의 값.
* index(인덱스) : 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스 **0** 부터 시작
  * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
  * `tuple` 과는 다른점!

In [ ]:
numbers = [1,2,3,10,20,30]
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0]

1

In [ ]:
numbers[5]

30

In [ ]:
numbers[-1:-5:-1]

[30, 20, 10, 3]

#slicing

인덱스를 사용해서 리스트의 부분집합(List)을 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
  * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
  * `list[0:end]` 와 `list[0:]`는 같은 결과
* 리스트를 slicing 한 결과는 또다른 새로운 **list**.

In [ ]:
# 리스트에서 앞에서 3개 선택
numbers[:3]

[1, 2, 3]

In [ ]:
# 리스트에서 뒤에서 3개 선택
numbers[-3:]

[10, 20, 30]

In [ ]:
numbers[0:1] # slicing -> 리스트
numbers[0] # indexing -> 값

1

# 문자열(str)

* 문자들의 *리스트*
* 문자열은 인덱스를 사용할 수 있음.
* 인덱싱, 슬라이싱 가능.

In [ ]:
message = '안녕하세요, 여러분!'

message[0:5]

'안녕하세요'

In [ ]:
message[-3:-9:-1]

'러여 ,요세'

In [ ]:
# 문자열 산술 연산 : +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list * int` 또는 `int * list`
a = [1,2,3]
b = [10,12,14]

In [ ]:
a = [1,2,3]
b = [10,12,14]

a+b # concatenate

print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
for x in numbers:
  print(x)

1
2
3
10
20
30

In [ ]:
for x, v in enumerate(numbers):
  print(x,":",v)

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

In [ ]:
numbers1 = [1,2,3]
numbers2 = [10,11,12]

# numbers1과 numbers2 의 같은 인덱스의 원소들끼리 합을 원소로 갖는 리스트
# [11, 13, 15]

result = [] # empty list

for x in range(len(numbers1)):
  result.insert(x,numbers1[x]+numbers2[x])

print(result)

result2 = []

for i,j in enumerate(numbers1):
  result2.append(j+numbers2[i])
print(result2)

[11, 13, 15]
[11, 13, 15]

In [ ]:
result3 = []

for x,y in zip(numbers1,numbers2): # 같은 길이를 갖는 list 2개를 인수로 받아 같은 인덱스의 값을 순차적으로 리턴.
  result3.append(x+y)

print(result3)

[11, 13, 15]

파이썬에서 난수를 만드는 방법:

In [ ]:
import random # random 모듈을 임포트

In [ ]:
# Random 모듈의 random() 함수를 호출.
random.random() # [0, 1) 범위(0 <= x < 1) 의 실수 난수

0.054679670025264526

In [ ]:
# random 모듈의 randrange() 함수를 호출.

random.randrange(10) # [0,10) 범위의 정수 난수

2

In [ ]:
random.randrange(1,4) # [1,4) 범위의 정수 난수

2

In [ ]:
random.randint(1,45) # [1,45] 범위(1<= x <= 45)의 정수 난수

#Exercises
##Ex 1.
* 빈 리스트를 생성.
* 1 이상 10 이하의 정수 난수 5개를 저장.
* 리스트의 모든 정수들의 합을 출력.
* 리스트의 모든 정수들의 평균을 출력.
##Ex 2.
* 빈 리스트(numbers)를 생성.
* 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
* numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
* numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.
##Ex 3.
* 빈 리스트 numbers를 만듦.
* -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
* numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive * 리스트를 만들고 출력.
##Ex 4.
* gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
* gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders * 리스트를 만들고 출력.
##Ex 5.
* numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
* numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.

* multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈
* 결과를 저장하는 리스트.
* subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 * 저장하는 리스트.
* numbers1, numbers2, multiplication, subtraction를 출력.

In [ ]:
# 1 번 문제

list1 = []
sum1 = 0
for x in range(5):
  list1.append(random.randrange(1,11))
  sum1 += list1[x]

print("합계 :",sum1)
x = sum1/len(list1)
print(f'평균 : {x}')

합계 : 33
평균 : 6.6

In [ ]:
# 2 번 문제

numbers1 = []
evens = []
odds = []
for x in range(10):
  numbers1.append(random.randrange(10,100))
  if(numbers1[x]%2):
    odds.append(numbers1[x])
  else:
    evens.append(numbers1[x])

print('odds =',odds)
print('evens =',evens)

odds = [41, 35, 13, 29, 45, 65, 95]
evens = [64, 12, 34]

In [ ]:
# 3 번 문제

numbers2 = []
is_positive = []
for x in range(10):
  numbers2.insert(x,random.randint(-10,10))
  if(numbers2[x]>0):
    is_positive.append(True)
  else:
    is_positive.append(False)
print('is_positive =',is_positive)

is_positive = [True, False, True, True, False, False, True, False, True, False]

In [ ]:
# 4 번 문제

gender_code = []
genders = []
for x in range(10):

  gender_code.append(random.randrange(0,2))
  if(gender_code[x]==1):
    genders.append('FeMale')
  else:
    genders.append('Male')

print(f'genders = {genders}')

genders = ['FeMale', 'FeMale', 'Male', 'Male', 'FeMale', 'FeMale', 'FeMale', 'FeMale', 'Male', 'FeMale']

In [ ]:
# 5 번 문제

numbers3 = []
numbers4 = []
multiplication = []
subtraction = []

for x in range(10):
  numbers3.append(random.randrange(100))
  numbers4.append(random.randrange(100))
  multiplication.append(numbers3[x]*numbers4[x])
  subtraction.append(numbers3[x]-numbers4[x])

print(f'numbers3 = {numbers3}')
print(f'numbers4 = {numbers4}')
print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers3 = [74, 23, 65, 66, 87, 19, 71, 90, 54, 74]
numbers4 = [52, 63, 45, 23, 79, 88, 96, 52, 78, 19]
multiplication = [3848, 1449, 2925, 1518, 6873, 1672, 6816, 4680, 4212, 1406]
subtraction = [22, -40, 20, 43, 8, -69, -25, 38, -24, 55]