<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
  * `append()`, `remove()` 와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입
  * indexing, slicing
  * 음수 인덱스도 사용 가능

In [7]:
# 숫자들을 저장하는 튜플
numbers = (1,2,10,20,100,200)
numbers
type(numbers)

tuple

indexing : 인덱스를 사용해서 원소 1개를 참조하는 방법

In [11]:
numbers[-1] # 튜플의 첫 번째 원소

# slicing 자르기/부분집합

numbers[:3]

(1, 2, 10)

## decomposion(분해)

In [13]:
odds = (1,3,5)

a = odds[0]
b = odds[1]
c = odds[2]

print(a,b,c)

1 3 5

In [16]:
x,y,z = (odds[0],odds[1],odds[2])

tuple&for

In [18]:
for _ in odds:
  print(_)

1
3
5

In [20]:
numbers = [
    [1,2,3],
    [4,5,6],
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [22]:
len(numbers) # 2차원 리스트 numbers의 원소 갯수

2

In [24]:
numbers[0][1]

2

Ex.
1. 2x2 모양의 [0,10) 범위의 정수 난수 들을 저장하는 2차원 리스트 array1 생성

1. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 arrya2 생성

1. array1과 array2 의 같은 인덱스의 원소들끼리 덧셈결과를 저장하는 2차원 배열 생성 및 출력 ( add )

In [25]:
import random

In [31]:
# 나의 풀이

array1 = [[random.randrange(0,10) for _ in range(2)],[random.randrange(0,10) for _ in range(2)]]
array2 = [[random.randrange(0,10) for _ in range(2)],[random.randrange(0,10) for _ in range(2)]]
add = [[x+y for x,y in zip(array1[0],array2[0])],[x+y for x,y in zip(array1[1],array2[1])]]

print("array1 =",array1,"\n array2 =",array2,"\n add =",add)

array1 = [[9, 1], [4, 0]]
 array2 = [[2, 3], [2, 7]]
 add = [[11, 4], [6, 7]]

In [38]:
# 선생님 풀이

array1 = [] # 빈 리스트 만들기

for x in range(2):
  row = []
  # array1.insert(x,row)

  for y in range(2):
    row.append(random.randrange(0,10))
    # element=random.randrange(0,10)
    # array1[x].insert(y,element)
  array1.append(row)
print(array1)

array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
print(array2)

add = [[x+y for x,y in zip(array1[z],array2[z]) ] for z in range(2)]
print(add)

[[7, 7], [9, 4]]
[[7, 7], [6, 8]]
[[14, 14], [15, 12]]

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1,2,2,3,3} = {1,2,3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스 없음
  * 데이터의 저장 순서가 중요하지 않음: `{1,2,3} = {3,1,2}`
  * indexing, slicing 기능을 제공하지 않음.