<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
  * `append()`, `remove()` 와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입
  * indexing, slicing
  * 음수 인덱스도 사용 가능

In [7]:
# 숫자들을 저장하는 튜플
numbers = (1,2,10,20,100,200)
numbers
type(numbers)

tuple

indexing : 인덱스를 사용해서 원소 1개를 참조하는 방법

In [11]:
numbers[-1] # 튜플의 첫 번째 원소

# slicing 자르기/부분집합

numbers[:3]

(1, 2, 10)

## decomposion(분해)

In [13]:
odds = (1,3,5)

a = odds[0]
b = odds[1]
c = odds[2]

print(a,b,c)

1 3 5

In [16]:
x,y,z = (odds[0],odds[1],odds[2])

tuple&for

In [18]:
for _ in odds:
  print(_)

1
3
5

In [20]:
numbers = [
    [1,2,3],
    [4,5,6],
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [22]:
len(numbers) # 2차원 리스트 numbers의 원소 갯수

2

In [24]:
numbers[0][1]

2

Ex.
1. 2x2 모양의 [0,10) 범위의 정수 난수 들을 저장하는 2차원 리스트 array1 생성

1. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 arrya2 생성

1. array1과 array2 의 같은 인덱스의 원소들끼리 덧셈결과를 저장하는 2차원 배열 생성 및 출력 ( add )

In [25]:
import random

In [31]:
# 나의 풀이

array1 = [[random.randrange(0,10) for _ in range(2)],[random.randrange(0,10) for _ in range(2)]]
array2 = [[random.randrange(0,10) for _ in range(2)],[random.randrange(0,10) for _ in range(2)]]
add = [[x+y for x,y in zip(array1[0],array2[0])],[x+y for x,y in zip(array1[1],array2[1])]]

print("array1 =",array1,"\n array2 =",array2,"\n add =",add)

array1 = [[9, 1], [4, 0]]
 array2 = [[2, 3], [2, 7]]
 add = [[11, 4], [6, 7]]

In [38]:
# 선생님 풀이

array1 = [] # 빈 리스트 만들기

for x in range(2):
  row = []
  # array1.insert(x,row)

  for y in range(2):
    row.append(random.randrange(0,10))
    # element=random.randrange(0,10)
    # array1[x].insert(y,element)
  array1.append(row)
print(array1)

array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
print(array2)

add = [[x+y for x,y in zip(array1[z],array2[z]) ] for z in range(2)]
print(add)

[[7, 7], [9, 4]]
[[7, 7], [6, 8]]
[[14, 14], [15, 12]]

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1,2,2,3,3} = {1,2,3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스 없음
  * 데이터의 저장 순서가 중요하지 않음: `{1,2,3} = {3,1,2}`
  * indexing, slicing 기능을 제공하지 않음.
  * for-in 구문에서 사용할 수 있는 iterable 타입.

In [41]:
s = {1,2,2,3,3}
s
type(s)

set

In [44]:
s.add(5) # set에 새로운 원소를 추가
s
s.add(4)
s # 오름차순으로 자동정렬

{1, 2, 3, 4, 5}

In [45]:
s.remove(3) # set의 원소를 삭제. 삭제할 원소를 argument로 전달
s

{1, 2, 4, 5}

In [46]:
s.pop()
s

{2, 4, 5}

In [48]:
s2 = {2,3,4,5}

s.union(s2) # 합집합

{2, 3, 4, 5}

In [49]:
s.intersection(s2) # 교집합

{2, 4, 5}

In [50]:
s.difference(s2) # 차집합 s1 - s2

set()

In [51]:
s2.difference(s) # 차집합 s2 - s1

{3}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입
  * list, tuple : 인덱스 기반의 데이터 타입.
  * dict : key-value 기반의 데이터 타입

In [54]:
students = {1:'홍길동',2:'허균',3:'오쌤'}
students

{1: '홍길동', 2: '허균', 3: '오쌤'}

In [56]:
students.get(3)

'오쌤'

`dict` 에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자(`[]`) 를 사용함

In [58]:
students[1]

'홍길동'

In [59]:
students[10]='홍길길동' # dict에 새로운 key-value 아이템을 추가

In [66]:
students[3] = 'scott' # dict에서 key에 해당하는 value를 변경.
students[3]

'scott'

In [67]:
students.pop(3) # dict에서 해당하는 key의 item(key : value)을 삭제

'scott'

In [65]:
students

{1: '홍길동', 2: '허균', 10: '홍길길동'}

In [71]:
book = {
    'title' : '점프 투 파이썬',
    'author' : ['박응용','웨스 매키니'],
    'isbn' : 123456789
}
book['isbn']
book['author'][0][0]

'박'

dict & for

In [72]:
contact = {

           'no' : 1,
           'name' : '오쌤',
           'phones' : ['010-1234-5678','02-2222-4444'],
           'e-mails' : {
              'company' : 'jake@itwill.co.kr',
              'personal' : 'jake@naver.com'

           }
}

In [73]:
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-1234-5678', '02-2222-4444'],
 'e-mails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [74]:
for k in contact: # dict에서 key만 꺼내옴.
  print(k)

no
name
phones
e-mails

for-in 구문에서 dict를 사용하면 키(key) 를 iteration 함.

In [76]:
for k in contact:
  print(k,":",contact[k])

no : 1
name : 오쌤
phones : ['010-1234-5678', '02-2222-4444']
e-mails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [77]:
contact.keys() # dict의 key들의 리스트를 리턴

dict_keys(['no', 'name', 'phones', 'e-mails'])

In [78]:
contact.values() # dict의 value들의 리스트를 리턴

dict_values([1, '오쌤', ['010-1234-5678', '02-2222-4444'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [79]:
contact.items() # dict의 (key,value) 들의 튜플 리스트를 리턴

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-1234-5678', '02-2222-4444']), ('e-mails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [80]:
for k,v in contact.items():
  print(k,v)

no 1
name 오쌤
phones ['010-1234-5678', '02-2222-4444']
e-mails {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

Dictionary Comprehencsion

In [81]:
emp_no = [1001,1002,2001,2002] # 직원 번호
emp_name = ['King','Scott','Allen','Tiger'] #직원 이름

In [83]:
emp_list = { x : y for x,y in zip(emp_no,emp_name) }
print(emp_list)

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [84]:
strings = ['hello','java','sql','python','javascript']
# 리스트 strings의 문자열을 key로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력.

string_len = { s : len(s) for s in strings }
print(string_len)

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}