<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument : 함수를 호출하는 곳에서 함수에게 전달하는 값
* parameter : argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value : 함수가 기능의 수행결과로 리턴하는 값
  * return value 가 있는 함수
  * return value 가 없는 함수
* 파이썬 함수 정의 방법:
   ```
   def function_name([param, ...]):
   [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
   ```
*return value가 없는 경우,
  * return 문장 생략.
  * return None

In [19]:
def subtract(x,y):
  return x-y

In [20]:
subtract(1,2)

-1

In [23]:
def repeat_message(msg, c):
  """ 문자열(msg)과 정수(c)을 전달받아서
      문자열을 c 번 출력하는 함수
  """
  for _ in range(c):
    print(msg)

  return None

In [24]:
repeat_message("머리아프다",5)

머리아프다
머리아프다
머리아프다
머리아프다
머리아프다

##Ex 1.
*함수 이름: make_list
*기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
##Ex 2.
*함수 이름: calc_sum
*기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
##Ex 3.
*함수 이름: calc_mean
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
##Ex 4.
*함수 이름: calc_var
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
*분산 = (값 - 평균)xx2 들의 평균

In [25]:
import random

In [29]:
def make_list(start,end,n):

  import random

  return [random.randrange(start,end) for _ in range(n)]

In [30]:
def calc_sum(numlist):
  return sum(numlist)

In [31]:
def calc_mean(numlist):
  return calc_sum(numlist)/len(numlist)

In [45]:
def calc_var(numlist):
  means = calc_mean(numlist)
  numlist2 = [(x-means)**2 for x in numlist]
  return sum(numlist2)/len(numlist2)

In [46]:
result1 = make_list(1,45,6)
result2 = calc_sum(result1)
result3 = calc_mean(result1)
result4 = calc_var(result1)

In [47]:
print(f'result1 = {result1}')
print(f'result2 = {result2}')
print(f'result3 = {round(result3,2)}')
print(f'result4 = {round(result4,2)}')

result1 = [5, 9, 19, 15, 26, 25]
result2 = 99
result3 = 16.5
result4 = 59.92