<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument : 함수를 호출하는 곳에서 함수에게 전달하는 값
* parameter : argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value : 함수가 기능의 수행결과로 리턴하는 값
  * return value 가 있는 함수
  * return value 가 없는 함수
* 파이썬 함수 정의 방법:
   ```
   def function_name([param, ...]):
   [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
   ```
*return value가 없는 경우,
  * return 문장 생략.
  * return None

In [ ]:
def subtract(x,y):
  return x-y

In [ ]:
subtract(1,2)

-1

In [ ]:
def repeat_message(msg, c):
  """ 문자열(msg)과 정수(c)을 전달받아서
      문자열을 c 번 출력하는 함수
  """
  for _ in range(c):
    print(msg)

  return None

In [ ]:
repeat_message("머리아프다",5)

머리아프다
머리아프다
머리아프다
머리아프다
머리아프다

##Ex 1.
*함수 이름: make_list
*기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
##Ex 2.
*함수 이름: calc_sum
*기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
##Ex 3.
*함수 이름: calc_mean
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
##Ex 4.
*함수 이름: calc_var
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
*분산 = (값 - 평균)xx2 들의 평균

In [ ]:
import random

In [5]:
def make_list(start,end,n):

  import random

  return [random.randrange(start,end) for _ in range(n)]

In [6]:
def calc_sum(numlist):
  return sum(numlist)

In [7]:
def calc_mean(numlist):
  return calc_sum(numlist)/len(numlist)

In [8]:
def calc_var(numlist):
  means = calc_mean(numlist)

  return sum((x-means)**2 for x in numlist)/len(numlist)

In [9]:
result1 = make_list(1,45,6)
result2 = calc_sum(result1)
result3 = calc_mean(result1)
result4 = calc_var(result1)

In [10]:
print(f'result1 = {result1}')
print(f'result2 = {result2}')
print(f'result3 = {round(result3,2)}')
print(f'result4 = {round(result4,2)}')

result1 = [13, 15, 8, 12, 1, 40]
result2 = 89
result3 = 14.83
result4 = 147.14

In [11]:
def make_lotto45():
  import random
  n = 0
  vslist = []
  mklist = []
  while n<6:
    n+=1
    m = random.randrange(1,46)
    for x in vslist:
      if x == m:
        vslist.remove(x)
        mklist.remove(x)
        n-=1
        continue
    vslist.append(m)
    mklist.append(m)

  mklist.sort()
  return mklist

In [12]:
def make_lottolist():


  return [make_lotto45() for x in range(5)]

In [ ]:
# Lotto

def make_lotto_list():
  lottos=[]
  for _ in range(5):
    lotto = set() # set
    while True:
      lotto.add(random.randrange(1,46))
      if(len(lotto)==6):
        break
    lottos.append(lotto)
  return lottos

In [13]:
print(make_lottolist())

[[10, 13, 18, 23, 32, 40], [6, 16, 20, 22, 36, 38], [1, 23, 30, 37, 43, 44], [7, 23, 24, 26, 35, 36], [5, 9, 13, 14, 16, 44]]

In [14]:
sum((x-3)**2 for x in range(1,9))

60