<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument : 함수를 호출하는 곳에서 함수에게 전달하는 값
* parameter : argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value : 함수가 기능의 수행결과로 리턴하는 값
  * return value 가 있는 함수
  * return value 가 없는 함수
* 파이썬 함수 정의 방법:
   ```
   def function_name([param, ...]):
   [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
   ```
*return value가 없는 경우,
  * return 문장 생략.
  * return None

In [ ]:
def subtract(x,y):
  return x-y

In [ ]:
subtract(1,2)

-1

In [ ]:
def repeat_message(msg, c):
  """ 문자열(msg)과 정수(c)을 전달받아서
      문자열을 c 번 출력하는 함수
  """
  for _ in range(c):
    print(msg)

  return None

In [ ]:
repeat_message("머리아프다",5)

머리아프다
머리아프다
머리아프다
머리아프다
머리아프다

##Ex 1.
*함수 이름: make_list
*기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
##Ex 2.
*함수 이름: calc_sum
*기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
##Ex 3.
*함수 이름: calc_mean
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
##Ex 4.
*함수 이름: calc_var
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
*분산 = (값 - 평균)xx2 들의 평균

In [ ]:
import random

In [60]:
def make_list(start,end,n):

  import random

  return [random.randrange(start,end) for _ in range(n)]

In [61]:
def calc_sum(numlist):
  return sum(numlist)

In [62]:
def calc_mean(numlist):
  return calc_sum(numlist)/len(numlist)

In [63]:
def calc_var(numlist):
  means = calc_mean(numlist)
  numlist2 = [(x-means)**2 for x in numlist]
  return sum(numlist2)/len(numlist2)

In [64]:
result1 = make_list(1,45,6)
result2 = calc_sum(result1)
result3 = calc_mean(result1)
result4 = calc_var(result1)

In [65]:
print(f'result1 = {result1}')
print(f'result2 = {result2}')
print(f'result3 = {round(result3,2)}')
print(f'result4 = {round(result4,2)}')

result1 = [41, 28, 11, 17, 34, 15]
result2 = 146
result3 = 24.33
result4 = 117.22

In [86]:
def make_lotto45():
  import random
  n = 0
  vslist = []
  mklist = []
  while n<6:
    n+=1
    m = random.randrange(1,46)
    for x in vslist:
      if x == m:
        vslist.remove(x)
        mklist.remove(x)
        n-=1
        continue
    vslist.append(m)
    mklist.append(m)

  mklist.sort()
  return mklist

In [108]:
def make_lottolist():


  return [make_lotto45() for x in range(5)]

In [110]:
print(make_lottolist())

[[2, 14, 16, 23, 35, 45], [1, 6, 8, 13, 39, 42], [2, 10, 11, 27, 34, 41], [1, 12, 25, 27, 34, 40], [3, 13, 34, 35, 37, 40]]