<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument : 함수를 호출하는 곳에서 함수에게 전달하는 값
* parameter : argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수
* return value : 함수가 기능의 수행결과로 리턴하는 값
  * return value 가 있는 함수
  * return value 가 없는 함수
* 파이썬 함수 정의 방법:
   ```
   def function_name([param, ...]):
   [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
   ```
*return value가 없는 경우,
  * return 문장 생략.
  * return None

In [ ]:
def subtract(x,y):
  return x-y

In [ ]:
subtract(1,2)

-1

In [ ]:
def repeat_message(msg, c):
  """ 문자열(msg)과 정수(c)을 전달받아서
      문자열을 c 번 출력하는 함수
  """
  for _ in range(c):
    print(msg)

  return None

In [ ]:
repeat_message("머리아프다",5)

머리아프다
머리아프다
머리아프다
머리아프다
머리아프다

##Ex 1.
*함수 이름: make_list
*기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
##Ex 2.
*함수 이름: calc_sum
*기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
##Ex 3.
*함수 이름: calc_mean
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
##Ex 4.
*함수 이름: calc_var
*기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
*분산 = (값 - 평균)xx2 들의 평균

In [ ]:
import random

In [ ]:
def make_list(start,end,n):

  import random

  return [random.randrange(start,end) for _ in range(n)]

In [ ]:
def calc_sum(numlist):
  return sum(numlist)

In [ ]:
def calc_mean(numlist):
  return calc_sum(numlist)/len(numlist)

In [ ]:
def calc_var(numlist):
  means = calc_mean(numlist)

  return sum((x-means)**2 for x in numlist)/len(numlist)

In [ ]:
result1 = make_list(1,45,6)
result2 = calc_sum(result1)
result3 = calc_mean(result1)
result4 = calc_var(result1)

In [ ]:
print(f'result1 = {result1}')
print(f'result2 = {result2}')
print(f'result3 = {round(result3,2)}')
print(f'result4 = {round(result4,2)}')

result1 = [13, 15, 8, 12, 1, 40]
result2 = 89
result3 = 14.83
result4 = 147.14

In [ ]:
def make_lotto45():
  import random
  n = 0
  vslist = []
  mklist = []
  while n<6:
    n+=1
    m = random.randrange(1,46)
    for x in vslist:
      if x == m:
        vslist.remove(x)
        mklist.remove(x)
        n-=1
        continue
    vslist.append(m)
    mklist.append(m)

  mklist.sort()
  return mklist

In [ ]:
def make_lottolist():


  return [make_lotto45() for x in range(5)]

In [ ]:
# Lotto

def make_lotto_list():
  lottos=[]
  for _ in range(5):
    lotto = set() # set
    while True:
      lotto.add(random.randrange(1,46))
      if(len(lotto)==6):
        break
    lottos.append(lotto)
  return lottos

In [ ]:
print(make_lottolist())

[[10, 13, 18, 23, 32, 40], [6, 16, 20, 22, 36, 38], [1, 23, 30, 37, 43, 44], [7, 23, 24, 26, 35, 36], [5, 9, 13, 14, 16, 44]]

In [ ]:
sum((x-3)**2 for x in range(1,9))

60

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있음. 함수를 호출한 곳에서는 리턴 값을 튜플로 취급하면 됨.

```
x,y = (1, 2) # tuple's decomposition
```

In [15]:
def plus_and_minus(x,y):
  return x+y, x-y

In [16]:
result = plus_and_minus(1,2)
result

(3, -1)

In [17]:
plus, minus = plus_and_minus(10,5)
print(plus,minus)

15 5

숫자들의 리스트를 전달 받아서, 최댓값과 최솟값을 리턴하는 함수를 정의하고, 테스트

In [21]:
def find_max_and_min(lists):

  numlist = [lists[0],lists[0]]
  for x in lists:
    if(x>numlist[0]):
      numlist[0]=x
    if(x<numlist[1]):
      numlist[1]=x

  return numlist[0],numlist[1]

In [23]:
find_max_and_min([x for x in range(1,6)])

(5, 1)

숫자들의 리스트를 전달받아서 최댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의. 최댓값이 2개 이상인 경우, 먼저 나오는 최댓값의 인덱스를 리턴.

In [27]:
def find_max_and_index(lists):
  n = 0
  index = 0
  maximize = 0
  while n<len(lists):
    if(lists[n]>maximize):
      index = n
      maximize = lists[n]
    n+=1
  return index, maximize

  # for i, v in enumerate(lists): => index, value를 함께 꺼내줌.

In [30]:
import random

x, y = find_max_and_index([random.randrange(1,46) for x in range(10)])

print(f'index = {x} / max = {y}')

index = 9 / max = 43

# Default Argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정된 기본값.
  * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
  * 함수를 호출할 때 파라미터에 값을 전달하면, 기본값은 무시되고, 전달한 인수가 사용됨.
*  **(주의)** 함수를 정의할 때, default argument를 갖는 파라미터들은 반드시 default argument를 갖지 않는 파라미터들 뒤에 선언해야 함!
  * 기본값을 갖지 않는 파라미터들을 먼저 선언하고, 기본값을 갖는 파라미터들을 선언해야 함.

In [31]:
def repeat_message2(msg, n=1):
  for _ in range(n):
    print(msg)

In [33]:
repeat_message2("수고하세요")

수고하세요

# argument 전달 방법 :

* positional argument : 함수 정의에서 선언된 파라미터 순서대로 아규먼트들을 전달하는 방법.
* keyword argument : param=value 형식으로 argument 들을 전달하는 방법.
  * keyword argument 방식에서는 파라미터의 순서를 지키지 않아도 됨.
*  **(주의)** 함수 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional 방식을 우선 사용하고, keyword argument들은 나중에 사용해야 함.

In [34]:
def minus(x,y):
  return x-y

In [35]:
minus(1,2) # positional argument

-1

In [36]:
def plus(x=2, y=3):
  return x+y

In [37]:
plus()

5

In [40]:
plus(3,y=5) # keyword Argument ( positional 인수 먼저 쓰고, keyword argument 쓰기)

8

In [41]:
plus(y=4,x=22) # keyword 만 쓸 경우 argument 신경쓰지 않아도 됌.

26

# 가변길이 인수(variable-length argument)

* 함수를 호출할 때, 전달하는 argument의 개수가 임의로 변할 수 있는 것.
  * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 됌.
* 함수 내부에서는 가변길이 인수는 튜플로 취급.
  * for in 반복문 사용 가능.
  * 인덱스 사용 가능.
*  **(주의)**
  * 가변길이 인수는 keyword 방식으로는 전달할 수 없음. f(x=1, x=2, x=3)
  * 함수를 정의할 때 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능.
  def f(*x, *y) -> 불가능.

In [42]:
def add_all(*values):
  total = 0
  for x in values:
    total += x
  return total

In [44]:
add_all(2)

2

In [45]:
def test(*x, y): # test() missing 1 required keyword-only argument: 'y'
  print(x)
  print(y)

TypeError: ignored

가변길이 인수 뒤에 파라미터가 있는 경우, 그 파라미터는 keyword 방식으로만 argument를 전달할 수 있음.

In [47]:
def keyword_only(*,x,y,z):
  print(f'x={x}, y={y}, z={z}')

In [48]:
keyword_only(x=1,y=2,z=3)

x=1, y=2, z=3

In [52]:
print(1,2,3,sep=":")

1:2:3

In [53]:
print('hello', end=" ")
print('python')

hello python

# 가변길이 키워드 인수(variable-length keyword argument)

* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임.
* 가변길이 인수 : 함수를 호출할 때 전달하는 argument의 개수제한이 없음.
* keyword_argument : 함수를 호출할 때 반드시 parameter 이름을 명시해야 함.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급함.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 됌.
* 가변길이 키워드 인수는 함수에서 한 개만 사용 가능함.

In [54]:
def test2(**kwargs):
  print(kwargs)

In [55]:
test2()

{}

In [59]:
test2(x="밥상",y=False, 밥="해요")

{'x': '밥상', 'y': False, '밥': '해요'}

In [63]:
def make_emp_info(emp_no, emp_name, **kwargs):
  emp = {'emp_no' : emp_no, 'emp_name' : emp_name}
  for k,v in kwargs.items():
    emp[k]=v
  return emp

In [64]:
make_emp_info(1, 'king')

{'emp_no': 1, 'emp_name': 'king'}

In [65]:
make_emp_info(2, '홍길동', email='gildong@test.com', dept='hr')

{'emp_no': 2, 'emp_name': '홍길동', 'email': 'gildong@test.com', 'dept': 'hr'}