<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py08_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object) 로서의 함수

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터의 argument로 다른 함수를 전달할 수 있음.
  * 함수는 argument가 될 수 있음.
* 함수는 다른 함수의 Return 값이 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

# 함수를 변수에 할당

In [1]:
def twice(x):
  return 2 * x

In [2]:
result = twice(100) # 함수 호출 결과(return value)를 변수에 저장.

In [5]:
result = twice # 함수 (객체)를 변수에 저장.

In [6]:
result(100)

200

In [10]:
def calculate(x, y, fn):
  result = fn(x,y)
  return result
def plus(x,y):
  return x+y

In [11]:
calculate(1,4,plus)

5

In [12]:
def minus(x,y):
  return x-y

In [13]:
calculate(1,3,minus)

-2

# 내부 함수, 함수 리턴

In [15]:
def make_increment(n): # 외부함수
  def add_n(x): # 내부함수(지역함수, 로컬함수)
    return x+n # 내부함수는 외부함수의 지역변수(파라미터 포함)들을 사용할 수 있음.
  return add_n

In [17]:
increase_by_2 = make_increment(10)

In [18]:
increase_by_2(2)

12

In [19]:
make_increment(5)(100) # add_n<make_increament(5)>(100)

105

# Lambda Expression(람다 표현식)

```
lambda param1, param2, ...: expression
```

* 이름이 없는 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않음.

In [20]:
minus = lambda x,y : x-y
minus

In [21]:
minus(1,2)

-1

In [22]:
calculate(2,3,lambda x, y : x * y)

6

In [23]:
calculate(2,3,lambda x,y : x / y)

0.6666666666666666

Ex1. calculate 함수에 2개 숫자 중 더 큰 수를 리턴하는 람다 표현식을 전달.

Ex2. calculate 함수에 첫번째 argument가 크면 True, 아니면 False를 리턴하는 람다 표현식을 전달.

In [34]:
calculate(9,5,lambda x,y : True if x>y else False)

True

In [35]:
calculate(5,2, lambda x,y : x if x>y else y )

5

In [36]:
calculate(5,2, lambda x,y : x>y)

True

#Filter 함수

조건에 맞는 원소들만 선택

In [37]:
def my_filter(iterable, fn):
  """
  리스트 iterable 원소들 중에서 함수 fn의 호출 결과 값이 True 인 원소들로만 이루어진 리스트를 리턴
  Param iterable : 리스트.
  Param fn : argument가 1개이고, True/False를 리턴하는 함수.
  """
  return [x for x in iterable if fn(x)==True]

In [38]:
my_filter(["java","Python","kotlin","Html","jackson"],lambda x : True if x[0]=='j' else False)

['java', 'jackson']

In [39]:
strings = ['python','java','javascript','sql']
my_filter(strings, lambda x : True if len(x)>=5 else False)

['python', 'javascript']

# Map 함수

원소들을 규칙에 따라서 다른 값으로 변환해주는 함수.

In [42]:
def my_mapper(iterable, fn):

  """
  리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

  Param iterable : 리스트.

  Param fn : argument 1개이고, 리턴 Value가 반드시 있어야 함.(타입 제한 조건은 없음)
  """
  return [fn(x) for x in iterable]

In [43]:
my_mapper([1,3,4,6,8,11,25,241,21,7],lambda x : x**2)

[1, 9, 16, 36, 64, 121, 625, 58081, 441, 49]

In [44]:
my_mapper([1,2,4,3,5,6,7,8,9,11],lambda x : "odd" if x%2 else "even")

['odd', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'odd']

 Strings가 가지고 있는문자열의 길이들로 이루어진 리스트
 String의 문자열들을 대문자로 변환한 리스트

In [45]:
my_mapper(strings,lambda x : len(x))

[6, 4, 10, 3]

In [46]:
my_mapper(strings,lambda x : x.upper())

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']