<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP:Object-oriented Programming)

In [ ]:
class Student:
  # 생성자 함수 : 생성자를 호출하면 파이썬 인터프리터에 의해 자동으로 호출되는 메서드.
  def __init__(self, no, name, subjectlist): # 실제로 생성자 호출될 때는 self 파라미터에는 따로 인수를 넣지 않음.
    self.no = no # 생성자에 넣는 순간 클래스의 필드변수 선언과 초기화가 동시에 됌. -> 자바는 선언 따로 초기화 따로.
    self.name = name
    self.python = subjectlist[0]
    self.java = subjectlist[1]
    self.javascript = subjectlist[2]

  def get_total(self):
    # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야 함.
    return self.java+self.python + self.javascript
  def get_mean(self):
    return round(self.get_total()/3)
  def print_info(self):
    print(f'Student(번호 : {self.no} , 이름 : {self.name} , Java : {self.java} , Python = {self.python} , JavaScript = {self.javascript})')

In [ ]:
student1 = Student(1,"홍길동",[99,96,91]) # 생성자 호출 : 생성자 이름-클래스 이름, new 키워드를 사용하지 않음.

In [ ]:
print(student1) # 객체 student1을 문자열로 출력

student1 # 객체 student1의 식(expression)을 출력

<__main__.Student object at 0x7f67d32022c0>

In [ ]:
student1.name

'홍길동'

In [ ]:
student1.get_total()

286

In [ ]:
student1.get_mean()

95

In [ ]:
student1.print_info()

Student(번호 : 1 , 이름 : 홍길동 , Java : 96 , Python = 99 , JavaScript = 91)

In [ ]:
import math
# math 모듈을 임포트 -> math.sqrt()

* class : Point
  * 2차원 평면의 점의 좌표 ( x, y )를 표현하는 클래스.
* 필드 : x, y / 생성자 함수에서 x, y 초기화. 기본값은 x, y = 0
* 메서드
  * move: 점의 좌표를 원래 위치에서 dx, dy 만큼 이동시키는 메서드
  * distance : 현재 점의 위치에서 다른 점까지의 거리를 계산해서 리턴하는 메서드
    * `sqrt((x1-x2)**2 + (y1-y2)**2))`

In [ ]:
class Point:
  def __init__(self,x=0,y=0):
    self.x = x
    self.y = y
  def move(self,x,y):
    self.x = self.x+x
    self.y = self.y+y
  def distance(self,point):
    return math.sqrt((self.x-point.x)**2 + (self.y-point.y)**2)
  def print_loc(self):
    print(f'현재 위치 x = {self.x} , y = {self.y}')

In [ ]:
point1 = Point(1,3)

In [ ]:
point1.move(2,-3)

point1.print_loc()

현재 위치 x = 3 , y = 0

In [ ]:
print("point1 과 새로운 지점의 거리 차이 :",round(point1.distance(Point(1,1)),2))

point1 과 새로운 지점의 거리 차이 : 2.24

# Magic Method

모든 클래스가 같은 이름으로 가지고 있는 특별한 메서드.

특별한 경우에 Python 인터프리터에 의해 호출되는 메서드.

* `__init__()` :
  * 생성자를 호출하면 자동으로 호출되는 메서드.
  * 인스턴스의 필드(Property)들을 선언하고 초기화하는 메서드.
* `__str__()` :
  * `print()` 함수의 argument 객체일 때 자동으로 호출되는 메서드.
  * 문자열을 리턴하는 메서드.
* `__repr__()` : representation
  * 식(expression)을 출력할 때 자동으로 호출되는 메서드.
  * `print()` 함수의 동작 방식:
    * 객체를 출력하기 위해서, 그 객체의 `__str__()` 메서드를 호출함.
    * `__str__()` 메서드가 없는 경우에는, `__repr__()` 메서드를 호출함.
    * `__str__()` 메서드와 `__repr__()` 메서드가 모두 없는 경우에는, 기본 문자열 (... object at 0x...)로 출력

In [ ]:
class T:
  def __str__(self):
    return 'class T instance'
  def __repr__(self):
    return 'this is expression'

In [ ]:
t1 = T() # 생성자 호출 -> __init__() 메서드 호출

In [ ]:
print(t1) # __str__() 메서드 자동 호출

class T instance

In [ ]:
t1 # __repr__() 메서드 자동 호출

this is expression

* `__eq__()`:
  * `==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
  * 두 객체가 같은 지(True), 다른 지(False) 를 리턴.

In [ ]:
list1 = [1,2,3]
list2 = [1,2,3]
list1 == list2 # list 클래스가 __eq__() 메서드를 구현하고 있기 때문에.

True

In [ ]:
class Number:
  def __init__(self,n):
    self.n = n
  def __repr__(self):
    return str(self.n)
  def __eq__(self, other):
    return self.n == other.n

In [ ]:
n1 = Number(1)
n2 = Number(1)
n1 == n2 # n1.__eq__(n2)

True

# Exercise

* class Score
  * property : korean, math, science (int 타입)
  * method : `__init__`, `__repr__` , `__eq__`(필드값이 다 같으면 같다), `get_total`(3과목 총점) ,`get_mean` (3과목 평균)

* class Student
  * property : no, name(str) score(Score)
  * 메서드 : `__init__` `__repr__`

In [ ]:
class Score:
  def __init__(self, korean=0, math=0, science=0):
    self.korean = korean
    self.math = math
    self.science = science
  def __repr__(self):
    return f'korean = {self.korean} , math = {self.math} , science = {self.science}, total = {self.get_total()} , mean = {self.get_mean()}'
  def __eq__(self,other):
    return (self.korean==other.korean and self.math == other.math and self.science == other.science)
  def get_total(self):
    return sum([self.korean,self.math,self.science])
  def get_mean(self):
    return round(self.get_total()/3,2)

class Student:
  def __init__(self, no, name, Score):
    self.no = no
    self.name = name
    self.score = Score
  def __repr__(self):
    return f'no = {self.no} , name = {self.name} ,  score = {self.score}'

In [ ]:
score1 = Score(100,85,67)

In [ ]:
score2 = Score(100,97,55)
score3 = Score(100,85,67)

In [ ]:
print(score1==score2)
print(score2==score3)
print(score1==score3)

False
False
True

In [ ]:
score1.get_total()

252

In [ ]:
stu1 = Student(1,"길동홍",score1)
stu2 = Student(2,"꺽정임",score2)

In [ ]:
stu1

no = 1 , name = 길동홍 ,  score = korean = 100 , math = 85 , science = 67, total = 252 , mean = 84.0

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속 : 상위 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재사용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
  * 학생은 사람이다(Student is a Person)

In [ ]:
class Person:
  def __init__(self, name, age=0):

    self.name = name
    self.age = age

  def hello(self):
    print(f'안녕하세요. 저는 {self.name} 이고, {self.age} 살 입니다')

In [ ]:
gildong = Person('홍길동',29)
gildong.hello()

안녕하세요. 저는 홍길동 이고, 29 살 입니다

In [ ]:
# Person 을 상속하는 Student Class 정의
class Student(Person):
  # Method Overriding
  def __init__(self,name,age=0,school="중졸"):
    # 하위 클래스에서 상위 클래스의 메서드를 호출
    super().__init__(name,age)
    self.school = school
  def hello(self):
    super().hello()
    print(f'학교는 {self.school} 입니다.')

In [ ]:
stud1 = Student('김학생')

In [ ]:
stud1.hello()

안녕하세요. 저는 김학생 이고, 0 살 입니다
학교는 중졸 입니다.

Method Override

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것
  * 파이썬에서는 메서드의 이름만 같으면(파라미터타입/개수 상관없음) 메서드가 재정의됨.
    * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
  * 자바에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
    * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음.
* 하위클래스에서 재정의(override)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 `super().method_name(...)` 의 형식으로 호출함.

파이썬은 함수(메서드)의 오버로딩을 제공하지 않음.

파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없음.

같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.

파이썬은 함수(메서드) 오버로딩 대신 default argument를 이용하면, 같은 이름의 함수를 여러 가지 방법으로 호출할 수 있음.

In [ ]:
def a(msg='a'):
  print(msg)

In [ ]:
a()

a