<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py10_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error) 처리

* 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드 수정.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고, 계속 실행되도록 처리 --> try 구문
  * Java는 반드시 try-catch 구문을 사용해야만 하는 Exception 종류들이 있음.
    * NullPointerException : try-catch 가 필수는 아님.
    * IOException, SQLException, ... : try-catch  가 필수.
  * Python은 모든 오류 처리에서 try-except 가 필수는 아님.

  **Python try-except 구문**

  ```
  try:
    (1) 실행할 코드 블록
  except [ 에러 클래스 이름 [ as 별명 ] ]
    (2) 에러가 발생했을 때 실행할 코드 블럭
  [else :
    (3) 에러가 발생하지 않았을 때 코드 블록]
  [finally :
    (4) try 블럭 실행 중에 에러 발생 여부와 관계없이 항상 실행할 코드 블록 ]
  ```

* 에러가 발생하지 않는 경우 : (1) - (3) - (4)
* 에러가 발생한 경우 : (1) - (2) - (4)
* except 구문에서 에러 클래스의 이름을 생략하면, 모든 종류의 에러를 잡아서 처리할 수 있음.
* 특정 종류의 에러만 처리하고자 할 때는, except 구문에서 에러 클래스 이름을 명시.

In [2]:
try:
  x = int(input('정수 입력'))
  print(x)
except:
  print('정수로 입력해야 합니다.')

정수 입력2.
정수로 입력해야 합니다.

In [3]:
try:
  x = int(input('정수를 입력하시오')) # 1.
except ValueError as e:
  print(e) # 2.
else:
  print(f'x={x}') #3
finally:
  print('=== end ===') #4

정수를 입력하시오21.
invalid literal for int() with base 10: '21.'
=== end ===

#Ex 1.
* 정수 1개를 입력받고, 입력받은 정수를 출력하세요.

* 정수로 변환할 수 없는 문자열이 입력된 경우에는 적절한 오류 메시지를 출력한 후 다시 입력을 받아야 함.

In [5]:
y = True
while y:
  try:
    x = int(input('정수 입력하세요'))
  except:
    print('잘못된 입력입니다.')
    continue
  else:
    print(f'x={x}')
    y = False

정수 입력하세요2.
잘못된 입력입니다.
정수 입력하세요3.
잘못된 입력입니다.
정수 입력하세요4.
잘못된 입력입니다.
정수 입력하세요5
x=5

# Ex 2. 단어 개수 세기
* 리스트 words가 가지고 있는 단어들을 key로 하고, 그 단어가 리스트에 나오는 횟수를 값으로 하는 dict를 생성하고 출력하세요.

In [7]:
words = ['java','python','javascript','python','sql','java','python']
count_dict = {}
for x in words:
  try:
    count_dict[x] = count_dict.get(x)+1
  except:
    count_dict[x] = 1
print(count_dict)

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [9]:
word_count = {}

for x in words:

  if(x in word_count):
    word_count[x] = word_count[x]+1
  else:
    word_count[x] = 1

print(word_count)

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [10]:
# Collection 모듈에서 defaultdict 함수를 import

# import module -> module_name.fn() -> 모듈의 모든 함수를 가져오는 것 ( 모듈 이름을 함수 앞에 붙여서 써야됨 )

# from module_name import fn_name -> 모듈에서 함수 1개만 가져오는 것 ( 모듈 이름 안붙여도 됨 )

from collections import defaultdict

In [11]:
word_count2 = defaultdict(int)

for w in words:
  word_count2[w] += 1

print(word_count2)

defaultdict(<class 'int'>, {'java': 2, 'python': 3, 'javascript': 1, 'sql': 1})