<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py12_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CSV(Comma-Separated Values) 파일 : 쉼표(,) 로 값들이 구분된 텍스트 파일.

* Colab 가상머신 할당
* Colab에서 Google Drive를 Mount(연결)
* 경로 : /content/drive/MyDrive/Colab Notebooks/lab-python

1. csv_exam.csv 파일을 읽기 모드로 오픈.
1. 파일의 첫번째 줄은 컬럼 이름이기 떄문에 읽고 추가 작업 없이 건너뛰기.
1. 파일의 두번째 줄부터 마지막 줄까지 한줄씩 읽으면서 반복:
  * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
1. 위에서 만들어진 2차원 리스트의 모든 값들을 숫자로 변환.
1. 2차원 숫자 리스트에서 수학점수들로만 이루어진 1차원 리스트를 만듦.
  * `[50, 60, 45...]`
1. 수학 점수의 평균, 최댓값, 최솟값 찾음.
1. 1반(class=1) 학생들의 수학점수의 총점, 평균, 최댓값, 최솟값

In [21]:
with open('/content/drive/MyDrive/Colab Notebooks/lab-python/csv_exam.csv',mode='rt') as f:
  n = 1

  for x in f:
    if n==1:
      n+=1

      continue

    list1 = [(int)(y.strip()) for y in x.split(',')]
    sclist.append(list1)

In [22]:
sclist

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58],
 [1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [8]:
mathlist = [x[2] for x in sclist]
mathlist

[50,
 60,
 45,
 30,
 25,
 50,
 80,
 90,
 20,
 50,
 65,
 45,
 46,
 48,
 75,
 58,
 65,
 80,
 89,
 78]

In [16]:
summath = sum(mathlist)
avgmath = summath/len(mathlist)
maxmath = max(mathlist)
minmath = min(mathlist)


print(f'모든 반 sum = {summath}')
print(f'모든 반 avg = {avgmath}')
print(f'모든 반 max = {maxmath}')
print(f'모든 반 min = {minmath}')

모든 반 sum = 1149
모든 반 avg = 57.45
모든 반 max = 90
모든 반 min = 20

In [14]:
classone = [x[2] for x in sclist if x[1]==1]
summath2 = sum(classone)
avgmath2 = summath2/len(classone)
maxmath2 = max(classone)
minmath2 = min(classone)

print(f'1반 sum = {summath2}')
print(f'1반 avg = {avgmath2}')
print(f'1반 max = {maxmath2}')
print(f'1반 min = {minmath2}')

1반 sum = 185
1반 avg = 46.25
1반 max = 60
1반 min = 30