<a href="https://colab.research.google.com/github/kim-dahun/python-study/blob/main/py13_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석 패키지

Google Colab 에는 데이터 분석과 머신 러닝에 필요한 대부분의 패키지들이 이미 설치가 되어 있음.

* NumPy: 다차원 배열(n-dimensional array)을 다루는 패키지. 머신 러닝에서 중요하게 사용됨.
* pandas : 시리즈(series), 데이터 프레임(DataFrame)을 다루는 패키지. 데이터 분석에서 기본으로 사용되는 패키지.
* matplotlib : 데이터 시각화(그래프).
* seaborn :  데이터 시각화. 통계 작업.

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
import matplotlib as mpl
import seaborn as sns

In [5]:
print('Numpy version : ', np.__version__)

Numpy version :  1.22.4

In [6]:
print('Pandas version : ', pd.__version__)

Pandas version :  1.5.3

In [7]:
print('matplotlib : ',mpl.__version__)

matplotlib :  3.7.1

In [8]:
print('seaborn : ', sns.__version__)

seaborn :  0.12.2

# Python `list` class

* 여러 개의 값들을 저장할 수 있는 데이터 타입
* 인덱스를 기반으로 값들을 저장하거나 참조하는 데이터 타입.
  * indexing : 인덱스를 사용해서 원하는 위치의 값을 참조하거나, 그 값을 변경할 때 인덱싱을 사용,
  * slicing : `[strat, end)` 이런 인덱스 범위의 값들로 이루어진 부분 집합을 잘라내는 방법.
* `list + list` : 두 개의 리스트를 이어붙여서 하나의 새로운 리스트를 만드는 기능 ( concatenate).
* `list * int`,`int * list` : 리스트의 원소들을 정수만큼 반복해서 복제.(replicate).

In [9]:
list1 = [1,2,3,4]
list2 = [10,20,30,40]

list3 = list1+list2

In [10]:
list3

[1, 2, 3, 4, 10, 20, 30, 40]

In [16]:
# indexing:
print(list1[0]) # list1의 첫번째 원소
print(list1[3], list1[-1]) #list1의 마지막 원소

1
4 4

In [18]:
# slicing
print(list1[:3]) # list1에서 앞에서 3개 원소 자르기

print(list1[-3:]) # list1에서 뒤에서 3개 원소 자르기

[1, 2, 3]
[2, 3, 4]

In [19]:
list1 + list2

[1, 2, 3, 4, 10, 20, 30, 40]

In [20]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
# list1, list2 에서 같은 인덱스 위치 원소들끼리 덧셈.

[x+y for x,y in zip(list1,list2)]

[11, 22, 33, 44]

In [22]:
# list1 모든 원소에 3을 곱하기
[x*3 for x in list1]

[3, 6, 9, 12]